Repository swellaby/ado-aws-widgets: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

.azure-pipelines/extension.yml:

trigger:
  paths:
    include:
    - extension/*
    - .azure-pipelines/extension.yml
    - .azure-pipelines/templates/*

pr:
  paths:
    include:
    - extension/*
    - .azure-pipelines/extension.yml
    - .azure-pipelines/templates/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseNode@1
  inputs:
    version: '12.x'
- bash: npm install
  name: InstallDeps
  workingDirectory: extension
- template: templates/test-and-validate.yml
  parameters:
    preCmd: npm run
    projectDir: extension
    coveragePath: coverage/cobertura-coverage.xml

.azure-pipelines/function.yml:

trigger:
  paths:
    include:
    - widget-function/*
    - .azure-pipelines/function.yml
    - .azure-pipelines/templates/*

pr:
  paths:
    include:
    - widget-function/*
    - .azure-pipelines/function.yml
    - .azure-pipelines/templates/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'
    addToPath: true
    architecture: 'x64'
- bash: pip install -r dev-requirements.txt
  name: InstallDependencies
  workingDirectory: widget-function
- template: templates/test-and-validate.yml
  parameters:
    preCmd: inv
    projectDir: widget-function
    coveragePath: coverage.xml
    buildCmd: lint

chore(deps): update dependency fixpack to v4
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency pytest-mock to v3.5.1
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency coverage to v5.4
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency html-webpack-plugin to v5
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency husky to v5
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency boto3 to v1.17.5
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

deps: update all python deps
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update commitlint monorepo to v12
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency coverage to v5.5
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency copy-webpack-plugin to v8
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency pycodestyle to v2.7.0
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency tfx-cli to ^0.9.0
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency husky to v6
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency ts-loader to v9
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency pytest to v6.2.4
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency pytest-mock to v3.6.1
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency lint-staged to v11
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency boto3 to v1.17.69
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency copy-webpack-plugin to v9
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency ts-jest to v27
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency husky to v7
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency invoke to v1.6.0
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update bulk of npm packages
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update pip packages
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore: add 2021 to license years
  LICENSE
Due: none

chore(deps): update dependency jest-junit to v12
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update jest monorepo
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update remaining packages to latest
  extension/jest.config.js
  extension/package.json
Due: .azure-pipelines/extension.yml
