Repository swellaby/ado-aws-widgets: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

.azure-pipelines/extension.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseNode@1
    inputs:
      version: 12.x
  - bash: npm install
    name: InstallDeps
    workingDirectory: ${{variables.projectDir}}
  - bash: npm run build
    name: Build
    workingDirectory: ${{variables.projectDir}}
  - bash: npm run test
    name: Test
  ...

.azure-pipelines/function.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
      addToPath: true
      architecture: x64
  - bash: pip install -r dev-requirements.txt
    name: InstallDependencies
    workingDirectory: ${{variables.projectDir}}
  - bash: inv l
    name: Lint
  ...

chore(deps): add renovate.json
  renovate.json
Due: none

chore(extension): add lang to make sonar happy
  extension/src/app/cloudwatch-widget.ts
  extension/src/index.html
Due: .azure-pipelines/extension.yml

ci: use template
  .azure-pipelines/extension.yml
  .azure-pipelines/function.yml
  .azure-pipelines/templates/test-and-validate.yml
  widget-function/tasks.py
Due: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

feat(extension): add all components (without widget content)
  .vscode/settings.json
  README.md
  extension/azure-devops-extension.json
  extension/jest.config.js
  extension/sonar-project.properties
  extension/src/app/cloudwatch-config-entry.ts
  extension/src/app/cloudwatch-config.ts
  extension/src/app/cloudwatch-widget-entry.ts
  extension/src/app/cloudwatch-widget.ts
  extension/src/app/entry.ts
  extension/src/app/utils.ts
  extension/src/templates/config.html
  extension/src/templates/widget.html
  extension/test/app/cloudwatch-config.test.ts
  extension/test/app/cloudwatch-widget.test.ts
  extension/test/app/utils.test.ts
  extension/webpack.config.js
Due: .azure-pipelines/extension.yml

fix(function): add required param
  widget-function/widgetfn/handler.py
Due: .azure-pipelines/function.yml

feat(extension): add base functionality
  extension/azure-devops-extension.json
  extension/package.json
  extension/src/app/cloudwatch-config.ts
  extension/src/app/cloudwatch-widget.ts
  extension/src/app/field-generators.ts
  extension/src/app/utils.ts
  extension/test/app/cloudwatch-config.test.ts
  widget-function/serverless.yml
  widget-function/widgetfn/handler.py
Due: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

Update extension/src/app/cloudwatch-widget.ts
  extension/src/app/cloudwatch-widget.ts
Due: .azure-pipelines/extension.yml

Update extension/src/app/field-generators.ts
  extension/src/app/field-generators.ts
Due: .azure-pipelines/extension.yml

test: addem
  docs/dashboard.png
  extension/src/app/cloudwatch-config.ts
  extension/src/app/cloudwatch-widget.ts
  extension/src/app/utils.ts
  extension/test/app/cloudwatch-config.test.ts
  extension/test/app/cloudwatch-widget.test.ts
  extension/test/app/utils.test.ts
  extension/test/helpers/ado-api-mock.ts
  extension/test/helpers/ado-sdk-mock.ts
  extension/test/helpers/ado-service-endpoint-mock.ts
  extension/test/helpers/index.ts
  widget-function/tests/handler_test.py
  widget-function/widgetfn/handler.py
Due: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

feat(extension): add base functionality (#7)
  docs/dashboard.png
  extension/azure-devops-extension.json
  extension/package.json
  extension/src/app/cloudwatch-config.ts
  extension/src/app/cloudwatch-widget.ts
  extension/src/app/field-generators.ts
  extension/src/app/utils.ts
  extension/test/app/cloudwatch-config.test.ts
  extension/test/app/cloudwatch-widget.test.ts
  extension/test/app/utils.test.ts
  extension/test/helpers/ado-api-mock.ts
  extension/test/helpers/ado-sdk-mock.ts
  extension/test/helpers/ado-service-endpoint-mock.ts
  extension/test/helpers/index.ts
  widget-function/serverless.yml
  widget-function/tests/handler_test.py
  widget-function/widgetfn/handler.py
Due: .azure-pipelines/extension.yml, .azure-pipelines/function.yml

docs: make pretty
  README.md
Due: none

chore(deps): update dependency copy-webpack-plugin to v6.0.3
  extension/package.json
Due: .azure-pipelines/extension.yml

fix(styles): mvp config
  extension/azure-devops-extension.json
  extension/src/app/field-generators.ts
Due: .azure-pipelines/extension.yml

chore(deps): update commitlint monorepo to v9.1.1
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency typescript to v3.9.7
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency jest-junit to v11.1.0
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency ts-jest to v26.1.4
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency webpack to v4.44.1
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency jest to v26.2.2
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency ts-loader to v8
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency @types/jest to v26.0.9
  extension/package.json
Due: .azure-pipelines/extension.yml

chore: repo meta tweaks
  .gitattributes
  LICENSE
Due: none

chore(deps): use version ranges, bump all dev deps
  extension/package.json
Due: .azure-pipelines/extension.yml

chore: update renovate config
  renovate.json
Due: none

chore(deps): update dependency typescript to v4
  extension/package.json
Due: .azure-pipelines/extension.yml

fix(deps): update dependency azure-devops-extension-api to v1.158.0
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency jest-junit to v12
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency webpack to v5
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency webpack-cli to v4
  extension/package.json
Due: .azure-pipelines/extension.yml

chore(deps): update dependency invoke to v1.5.0
  widget-function/dev-requirements.txt
Due: .azure-pipelines/function.yml

chore(deps): update dependency copy-webpack-plugin to v7
  extension/package.json
Due: .azure-pipelines/extension.yml

Path conditions:
  .azure-pipelines/extension.yml: any of: extension, .azure-pipelines/extension.yml
  .azure-pipelines/function.yml: any of: widget-function
